.git
.gitmodules
c_plus_plus/grammar/.idea
c_plus_plus/grammar/cmake-build-debug
c_plus_plus/tcp_ip_server/.idea
c_plus_plus/tcp_ip_server/cmake-build-debug
c_plus_plus/clion/MyStudy/.idea
c_plus_plus/clion/MyStudy/cmake-build-debug
c_plus_plus/clion/MyStudy/cmake-build-debug/CMakeFiles/MyStudy.dir
ShellScript/.gradle
ShellScript/.idea
ShellScript/build
ShellScript/gradle
ShellScript/app/app.iml
ShellScript/app/build
ShellScript/ShellScript.iml
python/.idea/
python/PycharmProjects/StudyPython/.idea
python/PycharmProjects/mysite_django/.idea
python/PycharmProjects/TestDjango/.idea
python/PycharmProjects/TestFlask/.idea
python/PycharmProjects/TestScrapy/.idea
