.git
.gitmodules
c_plus_plus_project/grammar/.idea
c_plus_plus_project/clion/MyStudy/run_me
c_plus_plus_project/grammar/cmake-build-debug
c_plus_plus_project/tcp_ip_server/.idea
c_plus_plus_project/tcp_ip_server/cmake-build-debug
c_plus_plus_project/MyStudy/.idea
c_plus_plus_project/MyStudy/cmake-build-debug
c_plus_plus_project/ffmpeg_study/.idea
c_plus_plus_project/ffmpeg_study/cmake-build-debug
c_plus_plus_project/ffmpeg_study/cmake-build-debug-mingw
ShellScript/.gradle
ShellScript/.idea
ShellScript/build
ShellScript/gradle
ShellScript/app/app.iml
ShellScript/app/build
ShellScript/ShellScript.iml
python/.idea/
python/PycharmProjects/StudyPython/.idea
python/PycharmProjects/mysite_django/.idea
python/PycharmProjects/TestDjango/.idea
python/PycharmProjects/TestFlask/.idea
python/PycharmProjects/TestScrapy/.idea
