.git
.gitmodules
library/grammar/.idea
library/grammar/cmake-build-debug
library/tcp_ip_server/.idea
library/tcp_ip_server/cmake-build-debug
ShellScript/.gradle
ShellScript/.idea
ShellScript/build
ShellScript/gradle
ShellScript/app/app.iml
ShellScript/app/build
ShellScript/ShellScript.iml
python/.idea/
python/PycharmProjects/StudyPython/.idea
python/PycharmProjects/mysite_django/.idea
python/PycharmProjects/TestDjango/.idea
python/PycharmProjects/TestFlask/.idea
python/PycharmProjects/TestScrapy/.idea
